.footer1{
    margin-top: 20px;
    float: left;
    width: 100%;
    min-height:150px;
    background-image: url(nen.jpg); background-size: 100% 500px; background-repeat: no-repeat;
    
}
.row{
    float: left;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 20px;
    
}
.boxcenter{
    width: 90%;
    margin: 0px auto;
    font-size: 18px;

}
.boxfooter1{
    width: 30%;
    float: left;
    color:aliceblue;
}
.boxfooter2{
    width: 30%;
    float: left;
    /*margin-right: 5%;*/
    color:aliceblue;
}
.boxfooter3{
    width: 30%;
    float: left;
    color:aliceblue;
}
.textcenter{
    color:aliceblue;
    text-align: center;
}
.mr{
    font-size: 12px;
    margin-top: 10px;
}

.mr a{
    color: black;
}
.mr a:hover{
    color:#FF5252;
    text-decoration: underline;
    cursor: pointer;
}